.tickerCard {
    overflow-x: hidden;
    text-wrap-mode: nowrap;
    text-align: left;
    font-size: 0.8rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
}

.tickerCardImage {
    height: 1.5rem;
    width: 1.5rem;
    aspect-ratio: 1/1;
}

.tickerCardImage > img {
    height: 100%;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 10rem;
}

.tickerSelectHeaderInner {
    z-index: 10;
}

.tickerCard > .tickerName {
    font-size: 0.7rem;
    opacity: 0.75;
}

.tickerCardSymbol {
    font-weight: 400;
    font-size: 0.8rem;
}

.tickerCardName {
    font-weight: 300;
    opacity: 0.75;
    font-size: 0.7rem;
}
