.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

section {
    margin: 15px; /* Reduced margin for closer spacing */
    padding: 15px;
    background-color: #ffffff;
    border-radius: 50px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

main {
    margin: 20px 0;
    display: flex; /* Enable flexbox on main */
    flex-wrap: wrap; /* Allow sections to wrap onto multiple lines */
    justify-content: flex-start; /* Align sections to the start of the row */
}

section h2 {
    margin: 0 0 10px;
    font-size: 1.4em;
    color: black;
}

.App-header {
    background-color: #81d4fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
